<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>layout</h1>


	<ul>

		<% for (var key in data) { %>
			 <% data[key] %>
			  		<% for(var i in data[key]) { %>
				  <li><%= data[key][i] %></li>
					<% } %>
		<% } %>
	</ul>



	<script type="text/javascript">

	</script>
</body>
</html>
